
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: #000000;
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}


footer{
    position: relative;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}


.encabezado{
    width:70%;
    border-radius: 6%;}

.titulos{
    font-size: 150%;
    font-weight:900%;}
    
.p1{ 
    position: relative;
    font-size: 100%;
}

.p2{
    position: relative;
    font-size: 100%;
    font-weight:bolder;}
    
.imagenborde{
    border-radius: 6%;
}

.caja-link { 
    position: fixed;   
    top: 18%;         
    right: 0.5%;       
    z-index: 3;
    pointer-events: none;
    }

.caja-links {
    position: fixed;   
    top: 15%; 
    right: 0.1%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.82);
    padding: 6% 1%;
    border-color: aliceblue;
    border-width: 1px;
    border-style: solid;
    will-change: transform;
    }

.links-text{
    color: rgb(255, 255, 255);
    font-size:1.2vw;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 20% 0%;
}

.tituloespacio{
    word-spacing: 200px;     
    position: relative;
    font-size: 30px;
}

.trucosespacio{
    word-spacing: 200px;     
    position: relative;
    font-size: 15px;
    font-weight:bolder;}
.video{
    width: 32%;
    border-radius: 6%;}

.link{
    width: 50%;}



@media (max-width: 1350px){
    .encabezado{
        width:30%;
        border-radius: 0%;
    }
    .imagenborde{
        width: 50%; 
        height: 50%;
    }

    .titulos{
        font-size: 100%;
    }
    .p1{
        font-size: 70%;
        ;   }
    .p2{
        font-size: 70%;
}
.caja-link{
    width: 13%;
    right: 6%;
}
.caja-links{
    right: 5%;
}
.video{
    width: 25%;
    
}
}


@media screen and (max-width:1350px){
    .encabezado{
        width:60%;
        border-radius: 0%;
    }
    .imagenborde{
        width: 50%; 
        height: 50%;
    }

    .titulos{
        font-size: 100%;
    }
    .p1{
        font-size: 65%;
        font-weight:bold;
        margin: 1% 0%;
        }
    .p2{
        font-size: 70%;
}
.caja-link{
    width: 13%;
    right: 4%;
}
.caja-links{
    right: 3%;
}
.video{
    width: 25%;
    
}
}

@media (max-width: 768px){
    .encabezado{
        width:100%;
        border-radius: 0%;
    }
    .imagenborde{
        width: 30%; 
        height: 50%;
    }

    .titulos{
        font-size: 100%;
    }
    .p1{
        font-size: 100%;
        font-weight:bold;
        margin: 1% 0%;
        }
    .p2{
        font-size: 50%;
}
.caja-link{
    width: 13%;
    right: 6%;
}
.caja-links{
    right: 5%;
}
.video{
    width: 50%;
    
}
.tituloespacio{
    word-spacing: 100px;     
    position: relative;
    font-size: 20px;
}
.caja-link{
    display: none;
}
.caja-links{
    display: none;
}
.link{
    width: 50%;}
}